.post1 {
  font-size:24px;
}

.post2 {
  font-size:20px;
}

.post3 {
  font-size:20px;
}

html {
  background-color: black;
  color: white;
}

.me {
  color: #00ffff;
  font-size: 16px;
  width: 50%;
}
